.Comments_par{
    background-color: aquamarine;
    padding: 1vw;
}
.Comment_item{
    background-color: white;
    padding: 1vw;
    margin: .5vw;
}
.comment_type{
    background-color: rgb(67, 212, 164);
    padding: 1vw;
    color: white;
    font-weight: bold;
    font-size: 1.5em;
}